<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>::Acerca::</title>
</head>
<body>
    <div class="contenidoAcerca">
        <img src="/img/lupa.png" >
        <h1 class="tituloAcerca">Acerca de mi</h1>
        <p class="pAcerca nube">
            Estudiante de ingenieria informatica y desarrollo 
            fullstack, con competencias de orientacion al logro,
            toma de decisiones, facilidad para la resolucion de problemas 
            y adaptacion al cambio, soy una persona responsable, diciplinada 
            y comprometida, con el deseo de hacer parte de un equipo
            de trabajo en el cual logre aprender y crecer profesionalmente
            cumpliendo con las tareas puestas a mi cargo brindando lo 
            mejor de mi de manera honesta y puntuial.
        </p>
        <ul class="menu">
            <li>
                <a href="/"><button class="btn btn1">Regresar</button></a>
            </li>
        </ul>
    </div>
</body>
</html>