<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>::Aptitudes::</title>
</head>
<body>
    <div class="contenidoAcerca">
        <img src="/img/engranaje.png" >
        <h1 class="tituloAcerca">Aptitudes</h1>
        <li>
            <h3>HTML5</h3><span class="barra"><span class="html"></span></span>
        </li>
        <li>
            <h3>CSS</h3><span class="barra"><span class="css"></span></span>
        </li>
        <li>
            <h3>JavaScript</h3><span class="barra"><span class="JavaScript"></span></span>
        </li>
        <li>
            <h3>PHP</h3><span class="barra"><span class="PHP"></span></span>
        </li>
        <li>
            <h3>Mongo</h3><span class="barra"><span class="Mongo"></span></span>
        </li>
        <li>
            <h3>SQL</h3><span class="barra"><span class="SQL"></span></span>
        </li>
        <li>
            <h3>Express JS</h3><span class="barra"><span class="Express"></span></span>
        </li>
        <li>
            <h3>Angular</h3><span class="barra"><span class="Angular"></span></span>
        </li>
        <li>
            <h3>Ionic</h3><span class="barra"><span class="Ionic"></span></span>
        </li>
        <ul class="menu">
            <li>
                <a href="/"><button class="btn btn1">Regresar</button></a>
            </li>
        </ul>
    </div>
</body>
</html>