<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>::Experiencia::</title>
</head>
<body>
    <div class="contenidoAcerca">
        <img src="/img/estrellas.png" >
        <h1 class="tituloAcerca">Experiencia : Proyectos realizados en el proceso de aprendizaje </h1>
        <p class="pAcerca nube">
           BitArt: sitio web de arte en donde se muestra algunas obras historicas.
           Practica realizada para el aprendizaje de HTML, CSS, JavaScript. 
        </p>
        <p class="pAcerca nube">
            BitInstruments: sitio web de instrumentos en donde se muestra una tienda de instrumentos,
            divido por categorias, y ademas con la opcion de administrador del sitio web, el cual puede
            añadir, eliminar o modificar instrumentos o administradores del sitio web. Practica realizada 
            en el camino de aprendizaje de PHP. 
         </p>
         <p class="pAcerca nube">
            Tu tienda: sitio web que refleja una tienda de ropa, con las tecnologias de CSS, HTML, JavaScript. 
         </p>
         <p class="pAcerca nube">
            Lacteos: sitio web para la consulta de los productos entregados por un socio, realizado con las tecnologias
            de HTML, boostrap y PHP.
         </p>
         <p class="pAcerca nube">
            adrenalina criolla: sitio web que muestra los diferentes sitios en donde se puede practicar
            deportes extrenmos, realizado como proyecto final de aprendizaje de CSS, HTML, JavaScript.
         </p>
         <p class="pAcerca nube">
            cine bit: sitio web que refleja un sitio para consultar y apartar las entradas de cine,
            realizado como practica de las tecnologias CSS, JavaScript, HTML.
         </p>
        <ul class="menu">
            <li>
                <a href="/"><button class="btn btn1">Regresar</button></a>
            </li>
        </ul>
    </div>
</body>
</html>