<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>::Inicio::</title>
</head>
<body>
    <div>
        <img src="/img/avatar.png" >
        <ul class="menu">
            <li>
                <a href="/acerca"><button class="btn btn1">Acerca</button></a>
            </li>
            <li>
                <a href="/experiencia"><button class="btn btn2">Experiencia</button></a>
            </li>
            <li>
                <a href="/educacion"><button class="btn btn1">Educacion</button></a>
            </li>
            <li>
                <a href="/idiomas"><button class="btn btn2">Idiomas</button></a>
            </li>
            <li>
                <a href="/aptitudes"><button class="btn btn1">Aptitudes</button></a>
            </li>
        </ul>
    </div>
</body>
</html>